<div class="max-width">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Gerenciar Perfis de Usuário</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-card *ngIf="dataSource?.length == 0">
        <mat-card-content>
          Não há perfil cadastrado.
        </mat-card-content>
      </mat-card>

      <table mat-table *ngIf="dataSource.length > 0" [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID:</th>
          <td mat-cell *matCellDef="let element">{{element.idPerfil}}</td>
        </ng-container>

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef>Descrição:</th>
          <td mat-cell *matCellDef="let element">{{element.descPerfil}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>AÇÕES:</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="atribuirMenu(element)" mat-raised-button color="primary">Atribuir Menu</button>
            <button (click)="deletePerfil(element)" mat-raised-button color="warn">Excluir</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </mat-card-content>

    <mat-card-actions>
      <a mat-raised-button color="basic" class="ml" [routerLink]="['/']">Home</a>
      <!--<a mat-raised-button color="primary" class="end" (click)="createNewPerfil()">Novo Perfil</a>-->
    </mat-card-actions>
  </mat-card>
</div>