.mat-card-content {    
   text-align: -webkit-center;    
}

.div-pai{
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 98vw;    
    margin-top: 10px;
    margin-bottom: 10px;    
}

mat-card{         
   width: 60%;
}  

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    padding-left: 10px;   
}

@media screen and (max-width: 481px) {  
    mat-card{
        width:90%;      
        margin-left: 4px; 
    }      

    .mat-cell, .mat-footer-cell, button {
        font-size: 10px;
    }
}

 