<div *ngIf="isFiltro">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Relatório: Extrato Movimento Combustível</mat-card-title>
            <mat-card-subtitle>Selecione os filtros necessários e clique em Gerar Relatório</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="relatorioForm" #usuarioFormDirective="ngForm" *ngIf="isFormReady">
                <div style="display: flex; flex-direction: column;">

                    <mat-form-field appearance="outline" class="w-250">
                        <mat-label>Informe o período:</mat-label>
                        <mat-date-range-input [rangePicker]="rangePicker">
                            <input matStartDate placeholder="Dt Início" #dtInicial formControlName="dtInicio">
                            <input matEndDate placeholder="Dt Fim" #dtFim formControlName="dtFim"
                                (dateChange)="dateRangeChange(dtInicial, dtFim)">

                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #rangePicker>
                            <mat-date-range-picker-actions>
                                <button mat-button matDateRangePickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
                            </mat-date-range-picker-actions>
                        </mat-date-range-picker>
                    </mat-form-field>

                    <mat-form-field class="w-200" appearance="outline">
                      <mat-label>Produto</mat-label>
                      <mat-select [(ngModel)]="selectedValueProduto" formControlName="produto">
                        <mat-option *ngFor="let prd of produtos" [value]="prd">
                          {{prd.descProduto}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-radio-group aria-label="Tipo do Relatório" formControlName="tpRelatorio">
                        <mat-radio-button value="1" (click)="mudarRelatorio('1')">Produto</mat-radio-button>
                        <mat-radio-button value="2" (click)="mudarRelatorio('2')">Tanque</mat-radio-button>
                    </mat-radio-group>

                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
            <button mat-raised-button color="primary" class="end" (click)="gerarRelatorio()" [disabled]="tiporelatorio === ''">Gerar Relatório</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="w-1000" *ngIf="isProduto">
    <form id="content" #content>
        <mat-card>
            <mat-card-header>
                <mat-card-title class="mr-left">Relatório: Extrato Movimento Combustível</mat-card-title>
                <mat-card-subtitle> <span> Tipo Relatório: Produto</span>
                  <span class="end-1">
                      De: {{datainicial}} Até:{{datafinal}}
                    </span>
                </mat-card-subtitle>
                <mat-card-subtitle> <span> Produto Selecionado: {{descProdutoSelecionado}}</span>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <mat-card *ngIf="dataSource?.length == 0">
                    <mat-card-content>
                        Não há registros para o filtro selecionado.
                    </mat-card-content>
                </mat-card>


                <table mat-table *ngIf="dataSource.length > 0" [dataSource]="dataSource" class="w-100">


                    <ng-container matColumnDef="data" class="table">
                        <th mat-header-cell *matHeaderCellDef> Data </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.data}} </td>
                    </ng-container>
                    <ng-container matColumnDef="estoqueInicial" class="table">
                      <th mat-header-cell *matHeaderCellDef> Estoque Inicial </th>
                      <td mat-cell *matCellDef="let transaction"> {{transaction.estoqueInicial}} </td>
                    </ng-container>
                    <ng-container matColumnDef="entrada" class="table">
                      <th mat-header-cell *matHeaderCellDef> Entrada </th>
                      <td mat-cell *matCellDef="let transaction"> {{transaction.entrada}} </td>
                    </ng-container>
                    <ng-container matColumnDef="venda" class="table">
                      <th mat-header-cell *matHeaderCellDef> Venda </th>
                      <td mat-cell *matCellDef="let transaction"> {{transaction.venda}} </td>
                    </ng-container>
                    <ng-container matColumnDef="afericao" class="table">
                      <th mat-header-cell *matHeaderCellDef> Aferição </th>
                      <td mat-cell *matCellDef="let transaction"> {{transaction.afericao}} </td>
                    </ng-container>
                    <ng-container matColumnDef="estoqueContabil" class="table">
                      <th mat-header-cell *matHeaderCellDef> Estoque Contábil </th>
                      <td mat-cell *matCellDef="let transaction"> {{transaction.estoqueContabil}} </td>
                    </ng-container>
                    <ng-container matColumnDef="estoqueFisico" class="table">
                      <th mat-header-cell *matHeaderCellDef> Estoque Físico </th>
                      <td mat-cell *matCellDef="let transaction"> {{transaction.estoqueFisico}} </td>
                    </ng-container>
                    <ng-container matColumnDef="diferenca" class="table">
                      <th mat-header-cell *matHeaderCellDef> Diferença </th>
                      <td mat-cell *matCellDef="let transaction"> {{transaction.diferenca}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef=" displayedColumns">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                </table>
            </mat-card-content>
        </mat-card>
    </form>
    <mat-card-actions>
      <button mat-raised-button color="warn" class="ml-1" mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" class="ml-40" (click)="printpdf('1')">Baixar PDF</button>
  </mat-card-actions>
</div>

<div class="ml-15 mt-30p m-20">
  <div id="content1111" #content>
  </div>
</div>

<div class="w-1000" *ngIf="isTanque">
  <form id="content" #content1>
      <mat-card>
          <mat-card-header>
              <mat-card-title class="mr-left">Relatório: Extrato Movimento Combustível</mat-card-title>
              <mat-card-subtitle> <span> Tipo Relatório: Tanque</span>
                <span class="end-1">
                    De: {{datainicial}} Até:{{datafinal}}
                  </span>
              </mat-card-subtitle>
              <mat-card-subtitle> <span> Produto Selecionado: {{descProdutoSelecionado}}</span>
              </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <mat-card *ngIf="dataSource?.length == 0">
                  <mat-card-content>
                      Não há registros para o filtro selecionado.
                  </mat-card-content>
              </mat-card>


              <table mat-table *ngIf="dataSource.length > 0" [dataSource]="dataSource" class="w-100">


                  <ng-container matColumnDef="data" class="table">
                      <th mat-header-cell *matHeaderCellDef> Data </th>
                      <td mat-cell *matCellDef="let transaction"> {{transaction.data}} </td>
                  </ng-container>
                  <ng-container matColumnDef="nuTanque" class="table">
                    <th mat-header-cell *matHeaderCellDef> Tanque </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.nuTanque}} </td>
                </ng-container>
                  <ng-container matColumnDef="estoqueInicial" class="table">
                    <th mat-header-cell *matHeaderCellDef> Estoque Inicial </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.estoqueInicial}} </td>
                  </ng-container>
                  <ng-container matColumnDef="entrada" class="table">
                    <th mat-header-cell *matHeaderCellDef> Entrada </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.entrada}} </td>
                  </ng-container>
                  <ng-container matColumnDef="venda" class="table">
                    <th mat-header-cell *matHeaderCellDef> Venda </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.venda}} </td>
                  </ng-container>
                  <ng-container matColumnDef="afericao" class="table">
                    <th mat-header-cell *matHeaderCellDef> Aferição </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.afericao}} </td>
                  </ng-container>
                  <ng-container matColumnDef="estoqueContabil" class="table">
                    <th mat-header-cell *matHeaderCellDef> Estoque Contábil </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.estoqueContabil}} </td>
                  </ng-container>
                  <ng-container matColumnDef="estoqueFisico" class="table">
                    <th mat-header-cell *matHeaderCellDef> Estoque Físico </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.estoqueFisico}} </td>
                  </ng-container>
                  <ng-container matColumnDef="ajusteSobra" class="table">
                    <th mat-header-cell *matHeaderCellDef> Ajuste Sobra </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.ajusteSobra}} </td>
                  </ng-container>
                  <ng-container matColumnDef="ajustePerda" class="table">
                    <th mat-header-cell *matHeaderCellDef> Ajuste Perda </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.ajustePerda}} </td>
                  </ng-container>
                  <ng-container matColumnDef="diferenca" class="table">
                    <th mat-header-cell *matHeaderCellDef> Diferença </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.diferenca}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef=" displayedColumnsTanque">
                  </tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsTanque;"></tr>


              </table>
          </mat-card-content>
      </mat-card>
  </form>
  <mat-card-actions>
    <button mat-raised-button color="warn" class="ml-1" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" class="ml-40" (click)="printpdf('1')">Baixar PDF</button>
</mat-card-actions>
</div>

<div class="ml-15 mt-30p m-20">
  <div id="content1111" #content>
  </div>
</div>




