.example-form-field {
    margin-right: 20px;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  .end{
    margin-left: 20rem;
    margin-right: 0;
  }
  
  .end-1{
    margin-left: 37.1rem;
  }
  
  .ml-40{
    margin-left: 50.7rem;
  }
  .w-1000{
    max-height: 30rem;
  }
  
  
  
  .mat-table { 
    border-top: 1px solid currentColor; 
    border-left:  1px solid currentColor;
  
  }
  
  .mat-column-data , .mat-column-estoqueInicial, .mat-column-entrada, .mat-column-venda, .mat-column-afericao, .mat-column-estoqueContabil, .mat-column-estoqueFisico, .mat-column-diferenca,  .mat-column-nuTanque{
  
    border-right: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    padding-right: none !important;
    color: black;
    text-align: center;
  
  }
  
  
  
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right:0;
  }
  
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0;
  }
  
  .mr-left{
    margin-left: 17rem;
  }

  .border{
  
    border: 1px solid currentColor;
    padding-top: 1%;
    margin-bottom: 1%; 
    text-transform: capitalize;
    
    
  
  }

  .card{
    background-color: rgb(207, 207, 207);
    border-radius: 0% !important;
    border: 1px solid currentColor;
    border-bottom: none;
    font-size: 20px;
  }

  
.span-tyle{
  color: red; 
  margin-left: 2%;
  margin-top: 1%;
}

span{
  color: black;
}

  