<div>

    <mat-card class="m-20">
      <mat-card-header>
        <mat-card-title>Gerenciar Usuários</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-card *ngIf="dataSource?.length == 0">
          <mat-card-content>
            Não há registros de categoria.
          </mat-card-content>
        </mat-card>

        <table mat-table *ngIf="dataSource.length > 0" [dataSource]="dataSource" class="w-100">
          <!--
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID:</th>
            <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
          </ng-container>
          -->
          <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef>CPF:</th>
            <td mat-cell *matCellDef="let element">{{element.cpfUsuario}}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>NOME:</th>
            <td mat-cell *matCellDef="let element">{{element.nmUsuario}}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>AÇÕES:</th>
            <td mat-cell *matCellDef="let element">
              <button (click)="editUsuario(element)" mat-raised-button color="primary" class="mr-10">Editar</button>
              <button (click)="deleteUsuario(element)" mat-raised-button color="warn" class="mr-10">Excluir</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </mat-card-content>

      <mat-card-actions>
        <a mat-raised-button color="basic" [routerLink]="['/']">Home</a>
        <a mat-raised-button color="primary" (click)="createNewUser()">Novo Usuário</a>
      </mat-card-actions>
    </mat-card>
</div>
