
.padding-rigth{
    padding-right: 5px;
}

.mat-card-content {    
    text-align: -webkit-center;    
}

.div-pai{
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 98vw;    
    margin-top: 10px;   
    margin-bottom: 10px; 
}

.div-buttons{
    display:flex;     
    justify-content: space-between;
}

  mat-card{         
    width: 60%;
}    

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    padding-left: 10px;   
    word-break: break-word;
}
@media screen and (max-width: 810px) { 
    .mat-icon-button {
        width: 25px !important;
    }
    th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
        font-size: 12px;   
    }

    mat-card{
        width:90%;      
       
    }     
}
@media screen and (max-width: 490px) { 
    .mat-icon-button {
        width: 25px !important;
    }

    th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
        font-size: 8px;   
    }
    th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
        padding-left: 2px;   
    }

    td.mat-cell:first-of-type {
        padding-left: 0;
    }     

}
 