.card{
    min-width: 320px;      
    margin: 20px;
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;

}

.div-pai{
   justify-content: center;
}


@media screen and (max-width: 481px) {  
    .card{
        min-width: 260px;          
        margin-top:20px;
    }
    .mat-card-header .mat-card-title {
        font-size: 15px;
    }

    .buttonvoltar{
        margin-left: 14px;
    }
    

}
