<div class="margin-left">
  <mat-card class="m-20 card-style">
    <mat-card-header class="center">
      <mat-card-title>Venda Por Categoria Categoria </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="relatorioVendaCategoria()"> Relatório </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="m-20 card-style">
    <mat-card-header class="center">
      <mat-card-title>Extrato Movimento Combustível </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="relatorioExtratoMovimentoCombustivel()">Relatório </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="m-20 card-style">
    <mat-card-header class="center">
      <mat-card-title>Venda Diária de Produtos </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="relatorioVendaDiariaProdutos()">Relatório </button>
    </mat-card-actions>
  </mat-card>


  <!--


  <mat-card class="m-20 card-style">
    <mat-card-header class="center">
      <mat-card-title>Venda Por Tanque </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="Vendacategoria()"> Relatório </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="m-20 card-style">
    <mat-card-header class="center">
      <mat-card-title>Extrato Movimento Produtos </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="Extratomovimentocombustivel()">Relatório </button>

    </mat-card-actions>
  </mat-card>

  -->
</div>