<div *ngIf="isFiltro">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Relatório: Venda de Produtos por Categoria</mat-card-title>
      <mat-card-subtitle>Selecione os filtros necessários e clique em Gerar Relatório</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="relatorioModeloForm" #usuarioFormDirective="ngForm" *ngIf="isFormReady">
        <div style="display: flex; flex-direction: column;">
          <mat-form-field appearance="outline" class="w-250">

            <mat-label>Informe o período:</mat-label>

            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="Dt Início" #dtInicial formControlName="dtInicio">
              <input matEndDate placeholder="Dt Fim" #dtFim formControlName="dtFim"
                (dateChange)="dateRangeChange(dtInicial, dtFim)">
            </mat-date-range-input>

            <mat-datepicker-toggle matSuffix [for]="rangePicker"> </mat-datepicker-toggle>

            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>


          <mat-radio-group aria-label="Tipo do Relatório" formControlName="tpRelatorio">
            <mat-radio-button value="1" (click)="mudarRelatorio('1')">Analítico</mat-radio-button>
            <mat-radio-button value="2" (click)="mudarRelatorio('2')">Sintético</mat-radio-button>
            <br>
          </mat-radio-group>

          <span class="span-tyle">{{getErrorMessage()}}</span>

        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
      <button mat-raised-button color="primary" class="end" (click)="gerarRelatorio()"
        [disabled]="datafinal ==='' || tiporelatorio ==='' ">Gerar
        Relatório</button>
    </mat-card-actions>

  </mat-card>
</div>

<div *ngIf="isAnalitico">
  <mat-card-header>
    <mat-card-title>Gerando Relatório</mat-card-title>
  </mat-card-header>
  <mat-progress-bar *ngIf="displayProgressBar" mode="indeterminate"></mat-progress-bar>
  <mat-card-actions *ngIf="!displayProgressBar">
    <button mat-raised-button color="primary" class="ml-100" mat-dialog-close >Fechar</button>
  </mat-card-actions>
</div>

<div class="w-1000" *ngIf="isSintetico">
  <form id="content1" #content1>
    <mat-card>
      <div class="border">
        <mat-card-header>
          <mat-card-title class="mr-left">Relatório: Venda de Produtos por Categoria</mat-card-title>
          <mat-card-subtitle> <span> Tipo Relatório: Sintético</span> <span class="end-1"> De: {{datainicial}} Até:
              {{datafinal}} </span><span>Empresa: {{nomeEmpre | lowercase }}</span>
          </mat-card-subtitle>
        </mat-card-header>
      </div>

      <mat-card-content>
        <mat-card *ngIf="dataSource?.length == 0">
          <mat-card-content>
            Não há registros para o filtro selecionado.
          </mat-card-content>
        </mat-card>

        <table mat-table *ngIf="dataSource.length > 0" [dataSource]="dataSource" class="w-100">

          <ng-container matColumnDef="codigo" class="table">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.idGrupoProduto}} </td>
          </ng-container>

          <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Descrição do Grupo </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.descGrupoProduto}} </td>
          </ng-container>

          <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef> Quantidade</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.qtdProduto | currency:'':''}} </td>
          </ng-container>

          <ng-container matColumnDef="valorbruto">
            <th mat-header-cell *matHeaderCellDef> Valor Bruto </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrBruto | MoedaBR}} </td>
          </ng-container>

          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef> Desconto</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrDesconto | MoedaBR}} </td>
          </ng-container>

          <ng-container matColumnDef="acres">
            <th mat-header-cell *matHeaderCellDef> Acréscimo </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrAcrescimo | MoedaBR}} </td>
          </ng-container>

          <ng-container matColumnDef="valorliquido">
            <th mat-header-cell *matHeaderCellDef> Valor Liquido </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrLiquido | MoedaBR}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef=" displayedColumnsSintetico"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsSintetico;"></tr>


        </table>
      </mat-card-content>
    </mat-card>
  </form>
  <mat-card-actions>
    <button mat-raised-button color="warn" class="ml-1" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" class="ml-40" (click)="printpdf('2')"
      [disabled]="dataSource?.length == 0">Baixar PDF</button>
  </mat-card-actions>
</div>

<div class="ml-15 mt-30p m-20">
  <div id="content1111" #content>
  </div>
</div>
