<div class="main-container">
  <app-header [sideNavBar]="sidenav" [hidden]="!showTemplate"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav>

      <mat-list *ngFor="let item of model">
        <mat-list-item>
          <mat-icon>{{item.iconMenu}}</mat-icon>
          <span class="ml-15">
            <a (click)="sidenav.toggle(); router(item)">{{item.labelMenu}}</a>
          </span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>

  <app-footer></app-footer>
</div>