<div class="main-container">
  <app-header [sideNavBar]="sidenav" [hidden]="!showTemplate"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="w-15p">

      <mat-list *ngFor="let item of model">
          <mat-list-item>
            <mat-icon>{{item.iconMenu}}</mat-icon>
            <span class="ml-15">
              <a  (click)="sidenav.toggle(); router(item)">{{item.labelMenu}}</a>
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
      </mat-list>

      <!--
      <mat-list>

        <mat-list-item>
          <mat-icon>home</mat-icon>
          <span class="ml-15">
            <a [routerLink]="['/']" (click)="sidenav.toggle()">Home</a>
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-icon>group</mat-icon>
          <span class="ml-15">
            <a [routerLink]="['/usuario']" (click)="sidenav.toggle()">Usuários</a>
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-icon>summarize</mat-icon>
          <span class="ml-15">
            <a [routerLink]="['/relatorios']" (click)="sidenav.toggle()">Relatórios</a>
          </span>
        </mat-list-item>




      </mat-list>
      -->
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>

  <app-footer></app-footer>
</div>
