<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title style="text-align: center;">Autenticação do Usuário</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>




<!--
<div class="col-md-4" style="margin-left:30%; margin-top:15%;">
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title" align-center>SISTEMA ÁGUIA - AUTENTICAÇÃO</h3>
  </div>
  <form class="form-horizontal" #form="ngForm" (ngSubmit)="login()" novalidate>
    <div class="alert alert-error" role="alert" *ngIf="message">
      <strong>CPF ou Senha inválidos!</strong>
    </div>
    <div class="box-body">
        <div>
        <label for="inputCpf" class="col-sm-2 control-label">CPF</label>
          <div class="col-sm-10">
            <input type="cpfUsuario"
                  [(ngModel)]="usuario.cpfUsuario"
                  name="cpfUsuario"
                  class="form-control"
                  id="inputCpf"
                  #cpfUsuario="ngModel"
                  placeholder="CPF"
                  mascara="999.999.999-99"
                  cpfUsuario>
                  <span>&nbsp;</span>
              <span class="help-block" *ngIf="cpfUsuario.invalid  && cpfUsuario.dirty">CPF inválido. </span>
          </div>
        </div>
      <div>
        <label for="inputSenha" class="col-sm-2 control-label">Senha</label>
        <div class="col-sm-10">
          <input type="password"
                 [(ngModel)]="usuario.senha"
                 name="senha"
                 class="form-control"
                 id="inputSenha"
                 placeholder="Senha"
                 #senha="ngModel"
                 required>
          <span class="help-block" *ngIf="senha.invalid  && senha.dirty">Senha é obrigatório.</span>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <button type="submit" (click)="cancelLogin()" class="btn btn-default">Cancel</button>
      <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Login</button>
    </div>
  </form>
</div>
</div>
-->
