
.div-pai{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88.6vh;
  width: 100vw;
  
}

.input-width{
  width: 100% !important;  
}

.button-login{   
  text-align-last: end;
  margin-right: 1.2px !important;
}

.login-responsive{      
    max-width: 300px;
    min-width: 200px;
}

mat-icon{
  margin-bottom: 5px !important;
}


.login-responsive-select{
  max-width: 50%;
  min-width: 300px;
}

.font-size{
   font-size: max(1vw, 15px);  
}

.font-size-td{
  font-size: max(0.8vw, 10px);  
}



@media (max-width: 550px) {  
  .login-responsive{
    min-width: 60%;
    max-width: 200px;
  }

  .login-responsive-select{
    max-width: 90vw;
    min-width: 0;
  }   
}
