<div *ngIf="isFiltro">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Relatório: Venda de Produtos por Categoria</mat-card-title>
      <mat-card-subtitle>Selecione os filtros necessários e clique em Gerar Relatório</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="relatorioModeloForm" #usuarioFormDirective="ngForm" *ngIf="isFormReady">
        <div style="display: flex; flex-direction: column;">

          <mat-form-field appearance="outline" class="w-250">
            <mat-label>Informe o período:</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="Dt Início" #dtInicial formControlName="dtInicio">
              <input matEndDate placeholder="Dt Fim" #dtFim formControlName="dtFim"
                (dateChange)="dateRangeChange(dtInicial, dtFim)">

            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>

          <mat-radio-group aria-label="Tipo do Relatório" formControlName="tpRelatorio">
            <mat-radio-button value="1" (click)="mudarRelatorio('1')">Analítico</mat-radio-button>
            <mat-radio-button value="2" (click)="mudarRelatorio('2')">Sintético</mat-radio-button>
          </mat-radio-group>

        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
      <button mat-raised-button color="primary" class="end" (click)="gerarRelatorio()"
        [disabled]="tiporelatorio === ''">Gerar
        Relatório</button>
    </mat-card-actions>
  </mat-card>
</div>

<div [ngStyle]="{'display': display}" class="w-1000" *ngIf="isAnalitico">
  <form id="content" #content>
    <mat-card>
      <mat-card-header>
        <mat-card-title class="mr-left">Relatório: Venda de Produtos por Categoria</mat-card-title>
        <mat-card-subtitle> <span> Tipo Relatório: Analítico</span> <span class="end-1"> De: {{datainicial}} Até:
            {{datafinal}} </span></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-card *ngIf="dataSource?.length == 0">
          <mat-card-content>
            Não há registros para o filtro selecionado.
          </mat-card-content>
        </mat-card>

        <table mat-table *ngIf="dataSource.length > 0" [dataSource]="dataSource" class="w-100">

          <ng-container matColumnDef="codigo" class="table">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.cdProduto}} </td>
            <td mat-footer-cell *matFooterCellDef> Total Combustiveis</td>
          </ng-container>

          <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef> Quantidade</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.qtdProduto | currency:'':''}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Descrição do Grupo </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.descGrupoProduto}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="produto">
            <th mat-header-cell *matHeaderCellDef> Produto/Serviços </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.descProduto}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="un">
            <th mat-header-cell *matHeaderCellDef> UN </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.unMedidaProduto}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="pmv">
            <th mat-header-cell *matHeaderCellDef> P.M.V</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrVenda | currency:'R$ '}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="valorbruto">
            <th mat-header-cell *matHeaderCellDef> Valor Bruto </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrBruto | currency:'R$ '}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalvalorbruto() | currency:'R$ '}}</td>
          </ng-container>

          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef> Desconto</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrDesconto | currency:'R$ '}} </td>
            <td mat-footer-cell *matFooterCellDef>{{getTotalvalorDesconto() | currency:'R$ '}}</td>
          </ng-container>

          <ng-container matColumnDef="acres">
            <th mat-header-cell *matHeaderCellDef> Acréscimo </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrAcrescimo | currency:'R$ '}} </td>
            <td mat-footer-cell *matFooterCellDef>{{getTotalvalorAcrescimo() | currency:'R$ '}}</td>
          </ng-container>

          <ng-container matColumnDef="valorliquido">
            <th mat-header-cell *matHeaderCellDef> Valor Liquido </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrLiquido | currency:'R$ '}}</td>
            <td mat-footer-cell *matFooterCellDef>{{getTotalvalorliquido() | currency:'R$ '}}</td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef=" displayedColumns">
          </tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

        </table>
      </mat-card-content>
    </mat-card>
  </form>


  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="printpdf('1')">Baixar PDF</button>
  </mat-card-actions>
</div>

<div [ngStyle]="{'display': displaytable}" class="ml-15 mt-30p m-20">
  <div id="content1111" #content>
  </div>
</div>

<div [ngStyle]="{'display': display}" class="w-1000" *ngIf="isSintetico">
  <form id="content1" #content1>
    <mat-card>
      <mat-card-header>
        <mat-card-title class="mr-left">Relatório: Venda de Produtos por Categoria</mat-card-title>
        <mat-card-subtitle> <span> Tipo Relatório: Sintético</span> <span class="end-1"> De: {{datainicial}} Até:
            {{datafinal}} </span></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-card *ngIf="dataSource?.length == 0">
          <mat-card-content>
            Não há registros para o filtro selecionado.
          </mat-card-content>
        </mat-card>

        <table mat-table *ngIf="dataSource.length > 0" [dataSource]="dataSource" class="w-100">

          <ng-container matColumnDef="codigo" class="table">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.idGrupoProduto}} </td>
          </ng-container>

          <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Descrição do Grupo </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.descGrupoProduto}} </td>
          </ng-container>

          <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef> Quantidade</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.qtdProduto | currency:'':''}} </td>
          </ng-container>

          <ng-container matColumnDef="valorbruto">
            <th mat-header-cell *matHeaderCellDef> Valor Bruto </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrBruto | currency:'R$ '}} </td>
          </ng-container>

          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef> Desconto</th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrDesconto | currency:'R$ '}} </td>
          </ng-container>

          <ng-container matColumnDef="acres">
            <th mat-header-cell *matHeaderCellDef> Acréscimo </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrAcrescimo | currency:'R$ '}} </td>
          </ng-container>

          <ng-container matColumnDef="valorliquido">
            <th mat-header-cell *matHeaderCellDef> Valor Liquido </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.vlrLiquido | currency:'R$ '}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef=" displayedColumnsSintetico"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsSintetico;"></tr>


        </table>
      </mat-card-content>
    </mat-card>
  </form>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="printpdf('2')">Baixar PDF</button>
  </mat-card-actions>
</div>

<div [ngStyle]="{'display': displaytable}" class="ml-15 mt-30p m-20">
  <div id="content1111" #content>
  </div>
</div>