<div style="width: 600px; height: 30px; margin-left:32%; margin-top:1%;">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Desculpem-nos pelo transtorno!</mat-card-title>
      <mat-card-subtitle>Entre em contato com o administrador do sistema.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/pagina-em-manutencao-768x538.png" alt="" style="height: 370px;">
    <mat-card-content>
    </mat-card-content>

    <mat-card-actions>
      <a mat-raised-button color="basic" [routerLink]="['/']">Home</a>
    </mat-card-actions>

  </mat-card>
</div>