/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.w-10p{
  width: 10%;
}

.ml-15{
  margin-left: 15px;
}

.w-100{
  width: 100%;
}

.w-50{
  width: 50%;
}

.w-75{
  width: 75%;
}

.m-20{
  margin: 20px;
}

.mr-10{
  margin-right: 10px !important;
}

.flx-rw-ctnr{
  display: flex !important;
  flex-direction: row;
}

.flx-evenly{
  justify-content: space-evenly;
}

.w-300{
  width: 300px;
}

.w-250{
  width: 250px;
}

.w-200{
  width: 200px;
}

.w-500{
  width: 500px;
}

.w-450{
  width: 450px;
}

.flx-clmn{
  display: flex;
  flex-direction: column;
}

.mt-100p{
  margin-top: 100px;
}



/*remover botoes do input number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}