/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {  
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; }

html{
  overflow-y:hidden;  
  overflow-x:hidden;
}

.flx-rw-ctnr{
  display: flex !important;
  flex-direction: row;
}

.flx-evenly{
  justify-content: space-evenly;
}

.flx-clmn{
  display: flex;
  flex-direction: column;
}

/*remover botoes do input number*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.mat-drawer-content {
  background-color: rgb(240, 240, 240);
}

a{
  text-decoration:none;
  color:rgba(0,0,0,.87);
}

.mb-3{
  cursor: pointer;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;
}

/*Css referente a paginas de Relatórios*/

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.end{
  margin-left: 20rem;
  margin-right: 0;
}

.span-tyle{
  color: red; 
  margin-left: 2%;
  margin-top: 1%;
}

.max-width-date{
  max-width: 40%;
}

@media screen and (max-width: 481px) {  
  .max-width-date{
    max-width: 70%;
  }
}  